/* CSS declarations go here */
.container-narrow {
	margin: 0 auto;
	max-width: 600px;
}

#text-entry {
	resize: none;
}

#text-title {
	margin: 0;
}

#text-save-status {
	line-height: 4;
}

.used-link {
	color: #994C00;
}