<template name="canvas">
	<div class="row-fluid">
			<h2 class="span8" id="text-title">Canvas #{{game.number}}</h2>
			{{#if activeGame}}
  			<div class="span4 text-right" id="text-save-status">&nbsp;{{#if saved}}Saved{{/if}}</div>
  		{{/if}}
	</div>
	<div class="row-fluid">
		{{#if activeGame}}
	  	<textarea rows="10" class="span12" id="text-entry" placeholder="Express yourself here...">{{text}}</textarea>
	  {{else}}
	  	<div class="span12 well well-large">{{text}}</div>
	  {{/if}}
	</div>
</template>